* {
  font-family: arial, sans-serif;
  outline: none;
  text-decoration: none;
}
nav {
  height: 30px;
  margin: 4%;
}
nav a{
  float: right;
  display: inline;
  margin: 2%;
  font-size: 13px;
}
nav a.nav {
  color: #595959;
}
nav a.nav:hover {
  color: black;
  text-decoration: underline;
}
nav a table {
  display: inline;
}
nav a table tr td {
  border 1px solid white;
  background-color: gray;
  color: gray;
  font-size: 2px;
}
nav a table tr td:hover {
  background-color: black;
  color: black;
}
nav a button {
  color: white;
  font-size: 13px;
  font-weight: bold;
  background-color: #0066ff;
  border-radius: 3px;
  border: 2px solid #0066ff;
  height: 100%;
  width: 110%;
  white-space: nowrap;
}
nav a button:hover {
  box-shadow: 0 3px #d9d9d9;
}
nav a button:active {
  background-color: #0052cc;
  border-color: #0052cc;
  box-shadow: inset 0 3px #000099, 0 3px #d9d9d9;
  outline: none;
}
#center {
  text-align: center;
  margin-top: 100px;
  display: block;
}
#center img {
  width: 189px;
  height: 64px;
}
#center form input {
  height: 30px;
  width: 300px;
  font-size: 15px;
  border: .25px solid #0066ff;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
  background: url("https://upload.wikimedia.org/wikipedia/commons/2/22/Google_microphone_logo.png") right no-repeat;
  background-size: 9.15px 13px;
  background-origin: content-box;
  margin-bottom: -15px;
}
#center a button {
  background-color: #f2f2f2;
  color: #666666;
  font-size: 8px;
  border: none;
  font-weight: bold;
  border-radius: 3px;
  width: 80px;
  height: 27.5px;
}
#center a button:hover {
  border: 1px solid #A6A6A6;
  color: black;
}
#center a button:active {
  border: 1px solid #0066ff;
}
footer {
  display: inline;
}
#left, #right {
  width: 50%;
  height: 8%;
  position: relative;
  top: 92%;
}
#left {
  left: 0;
}
#right {
  text-align: right;
  right: 0;
}
@media screen and (min-width: 450px) {
  nav {
    margin: 10px;
  }
  nav a {
    margin: 8px;
  }
  #center {
    margin-top: 150px;
  }
  #center img {
    height: 96px;
    width: 284px;
  }
  #center form input {
    width: 400px;
    height: 35px;
    margin-top: 40px;
    background-size: 14px 20px;
  }
  #center a button {
    width: 100px;
    height: 35px;
    font-size: 10px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 700px) {
  #center form input {
    width: 600px;
  }
  #center a button {
    width: 135px;
    font-size: 13px;
  }
}
