* {
  font-family: arial, sans-serif;
  outline: none;
  text-decoration: none;
}
nav {
  height: 30px;
  margin: 4%;
}
nav a{
  float: right;
  display: inline;
  margin: 2%;
  font-size: 13px;
}
nav a.nav {
  color: #595959;
}
nav a.nav:hover {
  color: black;
  text-decoration: underline;
}
nav a table {
  display: inline;
}
nav a table tr td {
  border 1px solid white;
  background-color: gray;
  color: gray;
  font-size: 2px;
}
nav a table tr td:hover {
  background-color: black;
  color: black;
}
nav a button {
  color: white;
  font-size: 13px;
  font-weight: bold;
  background-color: #0066ff;
  border-radius: 3px;
  border: 2px solid #0066ff;
  height: 100%;
  width: 110%;
  white-space: nowrap;
}
nav a button:hover {
  box-shadow: 0 3px #d9d9d9;
}
nav a button:active {
  background-color: #0052cc;
  border-color: #0052cc;
  box-shadow: inset 0 3px #000099, 0 3px #d9d9d9;
  outline: none;
}
footer {
  display: inline;
}
#left {
  position: relative;
  top: 92%;
  width: 50%;
  height: 8%;
}
#right {
  text-align: right;
  position: relative;
  top: 92%;
  left: 50%;
  width: 50%;
  height: 8%;
}
#center {
  text-align: center;
  margin-top: 150px;
  display: block;
}
#center img {
  width: 189px;
  height: 64px;
}
@media screen and (min-width: 450px) {
  nav {
    margin: 10px;
  }
  nav a {
    margin: 8px;
  }
  #center img {
    height: 96px;
    width: 284px;
  }
}
